In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [1]:
import itertools as it
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import linear_model
from copy import deepcopy
%matplotlib inline
from sklearn import linear_model
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing

**Step 2: Importing dataset**

In [2]:
df = pd.read_csv('Data.csv')
print(df)
print(df.shape)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes
(10, 4)

**Step 3: Handling the missing data**

In [3]:
df.isnull().sum()
df['Salary'].fillna(value=df['Salary'].mean(), inplace=True)
df['Age'].fillna(value=df['Age'].mean(), inplace=True)
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [7]:
df.dtypes
label_encoder = preprocessing.LabelEncoder()  
# Encode labels in column 'Purchased'.
df['Purchased']= label_encoder.fit_transform(df['Purchased'])
df['Purchased'].unique()
df

   Country        Age        Salary  Purchased
0   France  44.000000  72000.000000          0
1    Spain  27.000000  48000.000000          1
2  Germany  30.000000  54000.000000          0
3    Spain  38.000000  61000.000000          0
4  Germany  40.000000  63777.777778          1
5   France  35.000000  58000.000000          1
6    Spain  38.777778  52000.000000          0
7   France  48.000000  79000.000000          1
8  Germany  50.000000  83000.000000          0
9   France  37.000000  67000.000000          1

**Step 5: Creating a dummy variable**

In [8]:
df = pd.get_dummies(df, columns = ['Country'])
print(df)

         Age        Salary  Purchased  Country_France  Country_Germany  \
0  44.000000  72000.000000          0               1                0
1  27.000000  48000.000000          1               0                0
2  30.000000  54000.000000          0               0                1
3  38.000000  61000.000000          0               0                0
4  40.000000  63777.777778          1               0                1
5  35.000000  58000.000000          1               1                0
6  38.777778  52000.000000          0               0                0
7  48.000000  79000.000000          1               1                0
8  50.000000  83000.000000          0               0                1
9  37.000000  67000.000000          1               1                0

   Country_Spain
0              0
1              1
2              0
3              1
4              0
5              0
6              1
7              0
8              0
9              0

**Step 6: Splitting the datasets into training sets and Test sets**

In [9]:
def split(df):
  X = df.drop('Purchased',axis=1)
  y = df['Purchased']
  return X,y

In [10]:
X, y = split(df)

In [11]:
#splitting the data into training and testing sets with the ratio of 8:2
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(8, 5) (2, 5) (8,) (2,)

**Step 7: Feature Scaling**

In [12]:
from sklearn.preprocessing import StandardScaler # importing the required function
scaler = StandardScaler() #initialis
scaler.fit(X_train) # find the values of mu and sigma
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test) #only transform the test dataset, dont fit it

In [13]:
X_train

array([[-0.7529426 , -0.62603778,  1.        , -0.57735027, -0.57735027],
       [ 1.00845381,  1.01304295,  1.        , -0.57735027, -0.57735027],
       [ 1.79129666,  1.83258331,  1.        , -0.57735027, -0.57735027],
       [-1.73149616, -1.09434656, -1.        ,  1.73205081, -0.57735027],
       [-0.36152118,  0.42765698,  1.        , -0.57735027, -0.57735027],
       [ 0.22561096,  0.05040824, -1.        ,  1.73205081, -0.57735027],
       [-0.16581046, -0.27480619, -1.        , -0.57735027,  1.73205081],
       [-0.01359102, -1.32850095, -1.        , -0.57735027,  1.73205081]])